# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage

# Environments
.venv

# mypy
.mypy_cache/

# IDE
.vscode*
